
.header{
    background-color: honeydew
}

body{
    background-color: aliceblue;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: lightslategray;
    text-decoration: underline;
}

.lists{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

div {
  display: flex;
  justify-content: center;
}

.bball{
    font-style: italic;
}

.